body {
    font-family: 'Khmer OS Battambang', 'Arial' ,sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: #fff;
    transform: scale(1);
    font-size: 20px;
}

.container {
    background-color: #444;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgb(227, 225, 225);
    min-width: 300px; 
    margin: 0 auto; /* Center the container */
}

.header h1 {
    margin: 0;
    font-size: 36px;
}

.circle {
    width: 100px;
    height: 80px;
    background-color: #df2935;
    border-radius: 10%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgb(20, 224, 183);
}

.letter {
    font-size: 36px;
    font-weight: bold;
}

.button-container {
    margin-top: 20px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

button:hover {
    background-color: #45a049;
}

.result {
    font-size: 18px;
    margin-top: 10px;
}

#generateButton{
    font-size: 20px;
}
